@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Ubuntu:wght@300&display=swap');

body {
	font-family: 'Ubuntu', sans-serif;
	background-image: linear-gradient(#4EB5A2, #4EA8B5);
}

.left {
	height: 599px;
	color: #4EA8B5;
	margin-left: -8px;
	margin-top: -8px;
	padding-top: 1em;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
	text-align: center;
	width: 66%;
    float: left;
    background-color: white;
}

.left h1 {
	font-family: 'PT Sans', sans-serif;
	font-weight: 900;
	font-size: 55px;
	margin-top: 2em;
	color: #4EA8B5;
}


.left input[type='submit']{
	color: white;
	background-color: #4EA8B5;
	border: none;
	border-radius: 40px;
	width: 200px;
	height: 50px;
	margin-top: 1em;
	font-size: 20px;
	font-family: 'Ubuntu', sans-serif;
}

.right input[type='submit']{
	border: 1px solid white;
	color: white;
	background-color: transparent;
	border-radius: 40px;
	width: 200px;
	height: 50px;
	font-size: 20px;
	font-family: 'Ubuntu', sans-serif;
}

.left input[type=button], input[type=submit]:hover {
    background-color: #4EB5A2;
}

.right input[type=button], input[type=submit]:hover {
    background-color: #4EB5A2;
}

.left input {
	border: none;
	color: black;
	background-color: #E5E5E5;
	width: 400px;
	margin-bottom: 1em;
	font-size: 20px;
	font-family: 'Ubuntu', sans-serif;
	height: 40px;
}

.right {
	color: white;
	text-align: center;
	width: 31%;
	height: 620px;
    float: left;
    background-image: linear-gradient(#4EB5A2, #4EA8B5);
}

.right h1{
	font-family: 'PT Sans', sans-serif;
	font-weight: 900;
	font-size: 55px;
	color: white;
	margin-top: 3.5em;
}

.left form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.right p{
	margin-bottom: 2.5em;
}

@media screen and (max-width: 1024px) {

	.right {
		width: 40%;
  	 }

  	 .left{
  	 	width:56%;
  	 }
}

@media screen and (max-width: 800px) {

	.right {
		width: 100%;
  	 }

  	 .left{
  	 	width:100%;
  	 }
}